<!-- jquery and bootstrap js -->
<script src="{{ '/assets/lib/jquery-3.6.0.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- other js -->

<div class="container">
    <hr>

    <h3>Supporters and partners</h3>



    <div class="row logo-row ">

        <div class="col-md-4">
            <a href="https://www.plymouth.ac.uk/">
                <img src="/assets/img/logo-uop.png" alt="UoP" class="img-fluid" style="width: 100%; margin-top: 5px;">
            </a>
        </div>
   
        <div class="col-md-4">
            <a href="https://www.nihr.ac.uk/">
                <img src="/assets/img/logo-nihr.png" alt="NIHR" class="img-fluid" style="width: 100%; margin-top: 10px">
            </a>
        </div>


        <div class="col-md-4">
            <a href="https://www.plymouthhospitals.nhs.uk/">
                <img src="/assets/img/logo-uhpnt.png" alt="UHPNT" class="img-fluid"
                    style="width: 90%; margin-top: 15px;">
            </a>
        </div>
    </div>


</div>