
<div>

                Traumatic brain injury (TBI) is injury to the brain caused by an external force. As our population has aged, TBI has become increasingly common in older people. Currently, we have limited knowledge on the underlying health problems that might affect recovery from a head injury in older people, which is important to consider when making decisions on the right treatment.
                
                <br>
                <br>
                
                Early decision-making for TBI patients is vital, in particular, deciding which patients would benefit from surgery or specialist care. At the time of injury, patients are often unable to take part in these decisions as the injury can make them drowsy and not able to think clearly. When making decisions, doctors look at many aspects of a patient such as age, general fitness, health problems and information from family/friends about their wishes. Medical information in hospital often does not link with the GP or community services and may be limited. All patients with a suspected brain injury have a scan of their head (brain imaging). This shows how bad the injury is and helps make decisions about care, such as whether an operation is needed.
                
                <br>
                <br>
                The BIRDI study is being set-up to try and support decision making by developing a tool which would help predict a patient’s likelihood of survival after a head injury, whether or not they had surgery. This is being done by looking at the brain imaging and background health information of thousands of patients who have had a head injury in the past.
               
                <br>
                <br>
                
                Routine data is collected from GP, community, social care and hospital records. This information is analysed by a computer and combined with brain imaging data to estimate patient survival. This computer model could then be used for future patients to help predict survival and guide discussions between doctors and family/friends.

</div>

